# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# Streamlit
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Model checkpoints (optional if very large)
*.ckpt
*.h5

# Environment variables
.env

# Build
dist/
build/